.cabecera {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 35px;
    width: 100%;
    background-color: #90EE9055;
    z-index: 1;
}
.cuerpo {
    position: fixed;
    padding-left: 0px;
    padding-top: 35px;
    background-color: #90EE9022;
    width: 100%;
    height: calc(100% - 35px);
    overflow: auto;
}
.cuerpo div {
    margin: 5px;
    padding: 5px;
    border: 1px solid #444444FF;
    border-radius: 8px;
    background-color: #FFD70033;

}

.poesia {
    font-family: sans-serif;
    float: left;
    width: auto;

}
.poesia div {
    width: 80%;
    border-top: solid 1px #FF000088;
    margin: auto;
}

h1 {
    color: blue;
    font-size: 18px;
    text-align: center;
}
p {
    color: black;
    font-size: 12px;
    text-align: left;
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;

}
p::first-line {
    font-weight: bold;

}
p::first-letter {
    text-transform: uppercase;

}
body {
    background-image: url("https://github.com/FerCasRey/TICs2023-2024/blob/main/public/css/content/White-parchment-paper.jpg?raw=true") ;
    background-size:cover;
    background-attachment: fixed;
    
}
.foto {
    width: 400px;
    /*height: 300px;*/
    float: left;
}