body {
    background: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    
}
h1 {
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
}
h1 a {
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
    text-decoration: none;
}
h2 a {
    letter-spacing: 1px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

h5 {
    text-align: left;
    letter-spacing: -2px;
}
.head {
    margin-top: -15px;
    
}
.menu {
    display: flex;
    justify-content: center;
    word-spacing: 50px;
    font-size: 20px;
    margin-top: -20px;
    
    
}
.subMenu {
    word-spacing: 50px;
    font-size: 20px;
    cursor: default;
    position: relative;
    user-select: none;
    transition-duration: 0.2s;
    
}
.subMenu a {
    color: white;
    text-decoration: none;
}

.subMenu:hover {
    font-size: 25px;
    transition-duration: 0.3s;
    
}
.subMenu li:hover a {
    transform: translateY(1px);
    transition-duration: 0.1s;
    color: #999;
}
.subMenu li:active {
    transform: translateY(2px);
    transition-duration: 0.1s;
    
}


li {
    list-style-type: none;
    text-align: left;
}

li a {
    color: white;
    text-decoration: none;
}


.subMenu ul {
    display: none;
    position: absolute;
    top: 10px;
    left: -40px;
}
.subMenu:hover ul {
    display: block;
    font-size: 17px;
    
}

.text {
    display: flex;
    width: 50%;
    
}
