body {
    background: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
h1 {
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
}
a {
    letter-spacing: 2px;
    font-size: 45px;
    color: white;
    text-decoration: none;
}
h5 {
    text-align: left;
    letter-spacing: -2px;
}
.head {
    margin-top: -15px;
    
}
.menu {
    display: flex;
    justify-content: center;
    word-spacing: 50px;
    font-size: 20px;
    margin-top: -20px;
    transition-duration: 0.3s
    
}
.subMenu:hover {
    font-size: 25px;
    transition-duration: 0.3s;
}
.subMenu:active {
    transform: translateY(2px);
    transition-duration: 0.1s;
}